.EULA-wrap {
    color: black;
}

.EULA-wrap h1, .EULA-wrap h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.EULA-wrap p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}